h1 {
    color: blue;
    background-color: yellow;
    border: 1px solid black;
  }
  h2 {
    color: blueviolet;
    background-color: greenyellow;
    border: 1px solid papayawhip;
  }
  
  p {
    color: darkolivegreen;
  }